body {
  font-family: Arial;
  margin: 0;
  background-color: cornsilk;
}

main {
  text-align: center;
}

section {
  margin: 3rem;
}

p {
  color: #180044;
}

header {
  background-color: #000000;
}

h1,
h2 {
  margin: 0;
  color: seagreen;
  padding: 1rem 0;
}

#introduction {
  margin: 1rem auto;
}

p {
  color: #9933cc;
  padding: 0 2rem;
}

.letter-spacing {
  letter-spacing: 3px;
}

p.letter-spacing {
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  max-width: 300px;
  height: auto;
}

/* https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Medium devices (landscape tablets, 768px and up) */
/* Keskikokoiset laitteet (tabletit vaakatasossa, 768px ja enemmän) */
@media only screen and (min-width: 768px) {
  img {
    max-width: 500px;
    height: auto;
  }

  #introduction {
    max-width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* Isot laitteet (läppärit/pöytäkoneet, 992px ja enemmän) */
@media only screen and (min-width: 992px) {
  img {
    width: 100%;
    height: auto;
  }
}
